html, body{
  background: black;
  overflow-x: hidden;
}


.port-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(141, 71, 212) 2.00%,rgb(0, 0, 0) 30.00%,rgb(0, 0, 0) 43.00%,rgb(0, 0, 0) 53.00%,rgb(0, 0, 0) 64.00%);
}
.port-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  z-index: 100;
  align-items: flex-start;
}
.port-container02 {
  flex: 0 0 auto;
  width: 20%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-text {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Poppins";
}
.port-container03 {
  gap: 50px;
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  justify-content: flex-end;
}
.port-link {
  color: #ffffff;
  font-family: "Poppins";
  text-decoration: none;
}
.port-link1 {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
  text-decoration: none;
}
.port-link2 {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
  text-decoration: none;
}
.port-link3 {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
  text-decoration: none;
}
.port-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: 30vh;
  flex-direction: column;
  justify-content: center;
}
.port-text01 {
  color: rgb(255, 255, 255);
  z-index: 100;
  font-size: 3em;
  font-family: "Poppins";
  line-height: 1.6;
}
.port-text06 {
  color: rgb(255, 255, 255);
  z-index: 100;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container06 {
  gap: 20px;
  flex: 0 0 auto;
  width: 40%;
  height: 50px;
  display: flex;
  z-index: 100;
  margin-top: 40px;
  align-items: flex-start;
  border-radius: 50px;
}
.port-button {
  color: #ffffff;
  width: 50%;
  height: 100%;
  font-family: "Poppins";
  border-width: 0px;
  padding-right: 1.5em;
  background-color: rgba(255, 255, 255, 0.5);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: 50px;
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: 50px;
}
.port-button1 {
  color: rgb(255, 255, 255);
  width: 50%;
  height: 100%;
  font-family: "Poppins";
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 50px;
  padding-right: 1.5em;
  background-color: transparent;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.port-container07 {
  gap: 20px;
  flex: 0 0 auto;
  width: 40%;
  height: 50px;
  display: flex;
  z-index: 100;
  margin-top: 20px;
  align-items: center;
  justify-content: flex-start;
}
.port-text10 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon02 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon04 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-lottie-node {
  width: 906px;
  height: 666px;
  z-index: 0;
  position: absolute;
  align-self: center;
  padding-left: 100px;
  padding-bottom: 183px;
}
.port-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.port-container09 {
  gap: 250px;
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  justify-content: center;
}
.port-text11 {
  color: rgb(255, 255, 255);
  width: 350px;
  z-index: 100;
  font-size: 1.5em;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-text17 {
  color: rgb(255, 255, 255);
  width: 500px;
  text-align: left;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container10 {
  gap: 50px;
  flex: 0 0 auto;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-container11 {
  gap: 20px;
  flex: 0 0 auto;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.port-container12 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.port-container13 {
  flex: 0 0 auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-color: #ab7be3;
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  justify-content: center;
}
.port-heading {
  color: #ab7be3;
  width: 250px;
  height: 150px;
  text-align: center;
}
.port-container14 {
  flex: 0 0 auto;
  width: 0px;
  height: 50%;
  display: flex;
  align-items: flex-start;
  border-color: #ab7be3;
  border-style: dashed;
  border-width: 5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 5px;
  border-bottom-width: 0px;
}
.port-container15 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.port-container16 {
  gap: 0px;
  flex: 0 0 auto;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.port-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-container18 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.port-heading1 {
  color: rgb(171, 123, 227);
  width: 100px;
  height: 50px;
}
.port-text18 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container19 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.port-heading2 {
  color: #ab7be3;
  width: 100px;
  height: 50px;
}
.port-text19 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-container21 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.port-heading3 {
  color: rgb(171, 123, 227);
  width: 100px;
  height: 50px;
}
.port-text20 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container22 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.port-heading4 {
  color: rgb(171, 123, 227);
  width: 100px;
  height: 50px;
}
.port-text21 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-container24 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.port-heading5 {
  color: rgb(171, 123, 227);
  width: 100px;
  height: 50px;
}
.port-text24 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container25 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.port-heading6 {
  color: rgb(171, 123, 227);
  width: 100px;
  height: 50px;
}
.port-text25 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: 200vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.port-container27 {
  gap: 250px;
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  justify-content: flex-start;
}
.port-text26 {
  color: rgb(255, 255, 255);
  width: 350px;
  z-index: 100;
  font-size: 1.5em;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-text35 {
  color: rgb(255, 255, 255);
  width: 500px;
  text-align: left;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 150px;
  padding-right: 150px;
  flex-direction: column;
}
.port-container29 {
  gap: 5%;
  flex: 0 0 auto;
  width: 100%;
  height: 10px;
  display: flex;
  align-self: flex-start;
  align-items: center;
}
.port-container30 {
  flex: 0 0 auto;
  width: 100px;
  height: 10px;
  display: flex;
  box-shadow: 0px 0px 20px 2px #ab7be3;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
  border-bottom-left-radius: 0px;
}
.port-text36 {
  color: #ffffff;
  width: 20%;
  height: 20px;
  font-size: 25px;
  align-self: flex-end;
  text-align: center;
  font-family: "Poppins";
}
.port-container31 {
  flex: 0 0 auto;
  width: 300px;
  height: 10px;
  display: flex;
  box-shadow: 0px 0px 20px 2px #ab7be3;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
}
.port-container32 {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.port-container33 {
  flex: 0 0 auto;
  width: 10px;
  height: 400px;
  display: flex;
  box-shadow: 0px 0px 20px 2px #ab7be3;
  align-items: flex-start;
  background-color: #ffffff;
}
.port-container34 {
  flex: 0 0 auto;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-container35 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.port-image {
  width: 90%;
  object-fit: cover;
}
.port-text39 {
  color: rgb(255, 255, 255);
  width: 350px;
  text-align: center;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container36 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.port-text44 {
  color: rgb(171, 123, 227);
  width: 100%;
  z-index: 100;
  font-size: 1.5em;
  text-align: left;
  font-family: "Poppins";
  line-height: 1.4;
  padding-left: 50px;
  padding-right: 50px;
}
.port-container37 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.port-icon06 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-text47 {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
}
.port-container38 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.port-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-text48 {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
}
.port-container39 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.port-icon10 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-text49 {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
}
.port-container40 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.port-icon12 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-text50 {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
}
.port-text51 {
  color: rgb(171, 123, 227);
  width: 100%;
  z-index: 100;
  font-size: 1.2em;
  text-align: left;
  font-family: "Poppins";
  line-height: 1.4;
  padding-left: 50px;
  padding-right: 50px;
}
.port-container41 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.port-icon14 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon16 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon18 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon20 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon22 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-container42 {
  gap: 5%;
  flex: 0 0 auto;
  width: 100%;
  height: 10px;
  display: flex;
  align-items: flex-start;
}
.port-container43 {
  flex: 0 0 auto;
  width: 60%;
  height: 10px;
  display: flex;
  box-shadow: 0px 0px 20px 2px #ab7be3;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
  border-top-left-radius: 0px;
}
.port-text54 {
  color: rgb(255, 255, 255);
  width: 20%;
  height: 20px;
  font-size: 25px;
  align-self: flex-end;
  text-align: center;
  font-family: "Poppins";
}
.port-container44 {
  flex: 0 0 auto;
  width: 10%;
  height: 10px;
  display: flex;
  box-shadow: 0px 0px 20px 2px #ab7be3;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
  border-bottom-right-radius: 0px;
}
.port-container45 {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.port-container46 {
  flex: 0 0 auto;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-container47 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.port-text57 {
  color: rgb(171, 123, 227);
  width: 100%;
  z-index: 100;
  font-size: 1.5em;
  text-align: left;
  font-family: "Poppins";
  line-height: 1.4;
  padding-left: 50px;
  padding-right: 50px;
}
.port-container48 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.port-icon24 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-text60 {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
}
.port-text61 {
  color: rgb(171, 123, 227);
  width: 100%;
  z-index: 100;
  font-size: 1.2em;
  text-align: left;
  font-family: "Poppins";
  line-height: 1.4;
  padding-left: 50px;
  padding-right: 50px;
}
.port-container49 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.port-icon26 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon28 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon30 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon32 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon34 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-container50 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.port-image1 {
  width: 90%;
  object-fit: cover;
}
.port-text64 {
  color: rgb(255, 255, 255);
  width: 350px;
  text-align: center;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-text65 {
  font-size: 12px;
}
.port-text66 {
  font-size: 12px;
}
.port-container51 {
  flex: 0 0 auto;
  width: 10px;
  height: 400px;
  display: flex;
  box-shadow: 0px 0px 20px 2px #ab7be3;
  align-items: flex-start;
  background-color: #ffffff;
}
.port-container52 {
  gap: 5%;
  flex: 0 0 auto;
  width: 100%;
  height: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.port-container53 {
  flex: 0 0 auto;
  width: 20%;
  height: 10px;
  display: flex;
  box-shadow: 0px 0px 20px 2px #ab7be3;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
  border-bottom-left-radius: 0px;
}
.port-text68 {
  color: rgb(255, 255, 255);
  width: 20%;
  height: 20px;
  font-size: 25px;
  align-self: flex-end;
  text-align: center;
  font-family: "Poppins";
}
.port-container54 {
  flex: 0 0 auto;
  width: 50%;
  height: 10px;
  display: flex;
  box-shadow: 0px 0px 20px 2px #ab7be3;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
  border-top-right-radius: 0px;
}
.port-container55 {
  gap: 20px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.port-container56 {
  flex: 0 0 auto;
  width: 10px;
  height: 400px;
  display: flex;
  box-shadow: 0px 0px 20px 2px #ab7be3;
  align-items: flex-start;
  background-color: #ffffff;
}
.port-container57 {
  flex: 0 0 auto;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-container58 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.port-text71 {
  color: rgb(255, 255, 255);
  width: 350px;
  text-align: center;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container59 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.port-text75 {
  color: rgb(171, 123, 227);
  width: 100%;
  z-index: 100;
  font-size: 1.5em;
  text-align: left;
  font-family: "Poppins";
  line-height: 1.4;
  padding-left: 50px;
  padding-right: 50px;
}
.port-container60 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.port-icon36 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-text78 {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
}
.port-container61 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.port-icon38 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-text79 {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
}
.port-text80 {
  color: rgb(171, 123, 227);
  width: 100%;
  z-index: 100;
  font-size: 1.2em;
  text-align: left;
  font-family: "Poppins";
  line-height: 1.4;
  padding-left: 50px;
  padding-right: 50px;
}
.port-container62 {
  gap: 10px;
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.port-icon40 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon42 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon44 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon46 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-icon48 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.port-container63 {
  gap: 5%;
  flex: 0 0 auto;
  width: 100%;
  height: 10px;
  display: flex;
  align-items: flex-start;
}
.port-container64 {
  flex: 0 0 auto;
  width: 60%;
  height: 10px;
  display: flex;
  box-shadow: 0px 0px 20px 2px #ab7be3;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
  border-top-left-radius: 0px;
}
.port-container65 {
  gap: 5vh;
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.port-container66 {
  gap: 250px;
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  justify-content: flex-start;
}
.port-text83 {
  color: rgb(255, 255, 255);
  width: 350px;
  z-index: 100;
  font-size: 1.5em;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-text88 {
  color: rgb(255, 255, 255);
  width: 500px;
  text-align: left;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container67 {
  overflow: hidden;
  position: relative;
  gap: 5px;
  flex: 0 0 auto;
  width: 90%;
  height: 50vh;
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  cursor: none;
}
.port-text89 {
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-text90 {
  color: rgb(255, 255, 255);
  z-index: 100;
  font-size: 4em;
  text-align: center;
  font-family: "Poppins";
  line-height: 1.4;
}
.port-container68 {
  flex: 0 0 auto;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: flex-end;
  padding-left: 30vh;
  padding-right: 30vh;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(171, 123, 227) 0.00%,rgba(44, 62, 80, 0) 95.00%);
}
.port-container69 {
  flex: 0 0 auto;
  width: 180px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.port-text93 {
  color: rgb(255, 255, 255);
  z-index: 100;
  font-size: 14px;
  font-family: "Poppins";
  line-height: 1.6;
}
.port-text94 {
  color: #ffffff;
  font-size: 12px;
  font-family: "Poppins";
}
.port-container70 {
  gap: 10px;
  flex: 0 0 auto;
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.port-container71 {
  flex: 0 0 auto;
  width: 10px;
  height: 5px;
  display: flex;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
}
.port-container72 {
  flex: 0 0 auto;
  width: 10px;
  height: 5px;
  display: flex;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
}
.port-container73 {
  flex: 0 0 auto;
  width: 10px;
  height: 5px;
  display: flex;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
}
.port-container74 {
  flex: 0 0 auto;
  width: 10px;
  height: 5px;
  display: flex;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
}
.port-container75 {
  flex: 0 0 auto;
  width: 10px;
  height: 5px;
  display: flex;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
}
.port-container76 {
  flex: 0 0 auto;
  width: 10px;
  height: 5px;
  display: flex;
  align-items: flex-start;
  border-radius: 50px;
  background-color: #ffffff;
}
.port-container77 {
  flex: 0 0 auto;
  width: 8px;
  height: 8px;
  display: flex;
  transform: rotate(45deg);
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 1px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
.port-container78 {
  gap: 15px;
  flex: 0 0 auto;
  width: 150px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.port-container79 {
  flex: 0 0 auto;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background-color: #2f2c2c;
}
.port-icon50 {
  fill: #ffffff;
  width: 15px;
  height: 15px;
}
.port-container80 {
  flex: 0 0 auto;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background-color: #2f2c2c;
}
.port-icon52 {
  fill: #ffffff;
  width: 15px;
  height: 15px;
}
.port-container81 {
  flex: 0 0 auto;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background-color: #2f2c2c;
}
.port-icon54 {
  fill: #ffffff;
  width: 15px;
  height: 15px;
}
@media(max-width: 991px) {
  .port-text17 {
    font-size: 12px;
  }
  .port-text18 {
    font-size: 12px;
  }
  .port-text19 {
    font-size: 12px;
  }
  .port-text20 {
    font-size: 12px;
  }
  .port-text21 {
    font-size: 12px;
  }
  .port-text24 {
    font-size: 12px;
  }
  .port-text25 {
    font-size: 12px;
  }
  .port-text35 {
    font-size: 12px;
  }
  .port-container32 {
    gap: 20px;
  }
  .port-text39 {
    font-size: 12px;
  }
  .port-text40 {
    font-size: 12px;
  }
  .port-container45 {
    gap: 20px;
  }
  .port-text64 {
    font-size: 12px;
  }
  .port-container55 {
    gap: 20px;
  }
  .port-text71 {
    width: auto;
    font-size: 12px;
  }
  .port-text88 {
    font-size: 12px;
  }
  .port-text89 {
    font-size: 12px;
  }
}
@media(max-width: 767px) {
  .port-container01 {
    justify-content: flex-end;
  }
  .port-container02 {
    width: 40%;
  }
  .port-container03 {
    width: 60%;
    padding: 30px;
  }
  .port-container05 {
    padding-left: 10%;
  }
  .port-container06 {
    width: 60%;
  }
  .port-container09 {
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .port-text11 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text17 {
    text-align: center;
  }
  .port-container11 {
    display: none;
  }
  .port-container14 {
    display: none;
  }
  .port-container18 {
    align-items: center;
  }
  .port-text18 {
    text-align: center;
  }
  .port-container19 {
    align-items: center;
  }
  .port-heading2 {
    text-align: center;
  }
  .port-text19 {
    text-align: center;
  }
  .port-container21 {
    align-items: center;
  }
  .port-heading3 {
    text-align: center;
  }
  .port-text20 {
    text-align: center;
  }
  .port-container22 {
    align-items: center;
  }
  .port-heading4 {
    text-align: center;
  }
  .port-text21 {
    text-align: center;
  }
  .port-container24 {
    align-items: center;
  }
  .port-heading5 {
    text-align: center;
  }
  .port-text24 {
    text-align: center;
  }
  .port-container25 {
    align-items: center;
  }
  .port-heading6 {
    text-align: center;
  }
  .port-text25 {
    text-align: center;
  }
  .port-container27 {
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .port-text26 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text35 {
    text-align: center;
  }
  .port-container28 {
    margin-top: 20px;
  }
  .port-text36 {
    width: 35%;
  }
  .port-container31 {
    width: 100px;
  }
  .port-text39 {
    text-align: center;
  }
  .port-text40 {
    text-align: center;
  }
  .port-text44 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text51 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container43 {
    width: 50%;
  }
  .port-text54 {
    width: 30%;
  }
  .port-text57 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text61 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text64 {
    width: auto;
    text-align: center;
  }
  .port-text71 {
    text-align: center;
  }
  .port-text75 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text80 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container66 {
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .port-text83 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text88 {
    text-align: center;
  }
  .port-text89 {
    text-align: center;
  }
  .port-text90 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
}
@media(max-width: 479px) {
  .port-container01 {
    align-items: center;
    justify-content: center;
  }
  .port-container02 {
    display: none;
  }
  .port-container03 {
    justify-content: center;
  }
  .port-container05 {
    padding-left: 10%;
  }
  .port-text01 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-family: Poppins;
    line-height: 1.6;
  }
  .port-container06 {
    width: 80%;
  }
  .port-container09 {
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .port-text11 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text17 {
    color: rgb(255, 255, 255);
    width: 400px;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container11 {
    display: none;
  }
  .port-container14 {
    display: none;
  }
  .port-container16 {
    width: 100%;
  }
  .port-container18 {
    align-items: center;
  }
  .port-heading1 {
    text-align: center;
  }
  .port-text18 {
    color: rgb(255, 255, 255);
    width: 400px;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container19 {
    align-items: center;
  }
  .port-heading2 {
    text-align: center;
  }
  .port-text19 {
    color: rgb(255, 255, 255);
    width: 400px;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container21 {
    align-items: center;
  }
  .port-heading3 {
    text-align: center;
  }
  .port-text20 {
    color: rgb(255, 255, 255);
    width: 400px;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container22 {
    align-items: center;
  }
  .port-heading4 {
    text-align: center;
  }
  .port-text21 {
    color: rgb(255, 255, 255);
    width: 400px;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container24 {
    align-items: center;
  }
  .port-heading5 {
    text-align: center;
  }
  .port-text24 {
    color: rgb(255, 255, 255);
    width: 400px;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container25 {
    align-items: center;
  }
  .port-heading6 {
    text-align: center;
  }
  .port-text25 {
    color: rgb(255, 255, 255);
    width: 400px;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container27 {
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .port-text26 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text35 {
    color: rgb(255, 255, 255);
    width: 400px;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container28 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .port-container29 {
    justify-content: flex-start;
  }
  .port-text36 {
    width: 35%;
  }
  .port-container31 {
    width: 150px;
  }
  .port-text39 {
    color: rgb(255, 255, 255);
    width: 400px;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text40 {
    color: rgb(255, 255, 255);
    width: 400px;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text44 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text51 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container43 {
    width: 50%;
  }
  .port-text54 {
    width: 30%;
  }
  .port-text57 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text61 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text64 {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text71 {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text72 {
    font-size: 12px;
  }
  .port-text73 {
    font-size: 12px;
  }
  .port-text75 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text80 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-container66 {
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .port-text83 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text88 {
    color: rgb(255, 255, 255);
    width: 400px;
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text89 {
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
  }
  .port-text90 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-align: center;
    font-family: Poppins;
    line-height: 1.4;
    width: 100px;
  }
  .port-container69 {
    display: none;
  }
  .port-text93 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-family: Poppins;
    line-height: 1.6;
  }
  .port-container70 {
    display: none;
  }
}


.blur {
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  width: 400%;
  height: 400%;
  position: absolute;
  z-index: 0;
  background: transparent url(https://www.dropbox.com/s/h7ab1c82ctzy83n/noise.png?raw=1) 0 0;
  background-size: 320px 320px;
	opacity: .35;
	animation: noise 0.5s steps(8,end) infinite both;
}

.port-container67 {
  position: relative;
  overflow: hidden;
}

.port-text89,
.port-text90 {
  filter: blur(10px);
  transition: filter 0.5s ease-in-out;
}

.port-text89:hover ,
.port-text90:hover  {
  filter: blur(0);
}

.custom-cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid #fff; 
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s ease;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 100;
}

.custom-cursor .port-icon_0 {
  align-self: center;
  justify-self: center;
  width: 15x;
  height: 15px;
  fill: #fff;
}


@keyframes noise {
  0% {
    transform: translateX(0px,0px); }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px,100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translateY(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
  }
}
